<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>

<a class="btn btn-default" href="/author_add">添加作者</a>
<a class="btn btn-default" href="/list">所有出版社</a>
<a class="btn btn-default" href="/book">所有书籍</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>id</th>
        <th>名字</th>
        <th>TA的书</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>
                {% for book in i.book.all %}
                    《{{ book.name }}》、
                {% endfor %}
            </td>

            <td>
                <a class="btn btn-danger" href="/author_del?id={{ i.id }}">删除</a>
                <a class="btn btn-primary" href="/author_edit?id={{ i.id }}">编辑</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>